h1 {
  text-align: center;
  width: 50%;
  font-weight: 400;
  text-decoration: #f78120 line-through wavy;
  letter-spacing: 15px;
  font-size: 80px;
}

a {
  text-decoration: none;
}

p {
  line-height: 2;
}
