section {
  background-color: #6d6875;
  width: 800px;
  height: 500px;
}

div {
  background-color: #e5989b;
  width: 50%;
  height: 50%;
}

h1 {
  border: 1px solid black;
  font-size: 40px;
  line-height: 200%; //80px
}
